/*
 * Estilos reutilizables
 */
 .link{
   font-weight: 200;
   text-align: center;
 }
.sizeFont{
  font-size: 14px;
}
.centrar{
  text-align: center;
}
.texto{
  font-family: 'Varela', sans-serif;
  color: white;
  font-size: 17px;
  padding: 17px;
  margin-bottom: 20px;
}

.paddingImagenes{
  padding-left: 1%;
  padding-right:1%;
  padding-top: 3%;
}
