/*
 * Estilos reutilizables
 */
 .link{
   font-weight: 200;
   text-align: center;
 }
.sizeFont{
  font-size: 14px;
}
.centrar{
  text-align: center;
}
.texto{
  font-family: 'Varela', sans-serif;
  color: white;
  font-size: 17px;
}
.paddingCero{
  padding: 0 !important;
}
.paddingImagenes{
  padding-right:2px !important;
}
