/*
 * Estilos de tu proyecto
 */
 a {
  color:white;
  text-decoration: none;
  font-family: 'Archivo Black', sans-serif;
  padding: 12px;
}

a:hover {
  color: #18BC9C;
}
header{
  background-color: #2C3E50;
}
#presentacion{
  background-color: #18BC9C;
  padding: 12px;
}
#titulo{
  font-family: 'Archivo Black', sans-serif;
  color: white;
  font-weight: 200;
  font-size: 50px;
  padding: 0;
}
#portfolio{
  font-family: 'Archivo Black', sans-serif;
  color:black;
  font-size: 1.5em;
  margin-top: 20px;
}
